bin/
lib/
quesoglc.pc
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
configure
config.log
config.status
libtool
aclocal.m4
autom4te.cache
src/CMakeFiles/
test/CMakeFiles/
Makefile
examples/Makefile
src/Makefile
tests/Makefile
src/database.c
